.wrapper {
    overflow-y: scroll;
    height: 88%;
    display: block;
    margin: 3% 1%;
    padding: 2% 4%;
    scroll-behavior: smooth;
}

.wrapper::-webkit-scrollbar {
    width: 7px;  /* 스크롤바의 너비 */
}

.wrapper::-webkit-scrollbar-thumb {
    height: 4rem; /* 스크롤바의 길이 */

    background: #cfedea; /* 스크롤바의 색상 */

    border-radius: 10px;
}

.wrapper::-webkit-scrollbar-track {
    background: transparent;  /*스크롤바 뒷 배경 색상*/
}

.whitespace-pre-line {
    line-height: 2rem;
    font-size: 1rem;
}

li {
    line-height: 2rem;
}

