.wrapper {
    overflow-y: scroll;
    height: 100%;
    display: block;
    padding: 0 2% 0 4%;
    overflow-x: hidden;
}

.wrapper::-webkit-scrollbar {
    width: 7px;  /* 스크롤바의 너비 */
}

.wrapper::-webkit-scrollbar-thumb {
    background: #cfedea; /* 스크롤바의 색상 */
    border-radius: 10px;
}

