.profile-info {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.profile-info div {
    height: fit-content;
}

.profile-info div p {
    display: inline-block;
    font-size: 1rem;
}

.col {
    width: 50%;
}

.category {
    color:	#77a8a4;
    font-weight: 900;
    font-family: 'suncheon-bold', sans-serif;
}

.likes {
    margin-inline-end: 1rem;
    margin-block-start: 0.4rem;
    margin-block-end: 0.4rem;
}

@media (max-width: 768px) {
    .profile-info {
        display: block;
    }
    .col {
        width: 100%;
    }
}
